@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    src: url(fonts/nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Nunito", sans-serif;
}


/* Nav links */
nav .active {
    color: white;
    background-color: rgb(67, 56, 202);
}
nav .active:hover {
    /*color: blue;*/
    background-color: rgb(32, 28, 98);
}
